@charset "UTF-8";
/*fullpage*/
/*전역세팅*/
*{margin: 0px; padding: 0px;}
ul{list-style:none;}
input[type="radio"]{display: none;}

/*포지션 속성 세팅*/
.mainpage{position:absolute; width: 1920px; height: 1080px; overflow: hidden; transition: 1s;}
.mainpage ul{font-size: 0px;}
.mainpage ul li{position:relative; top:0px; transition: 1s;}

/*이미지 컨트롤 박스*/
.ControlBox{position: fixed; right:200px; top:50%;}
.ControlBox .ControlPanel1{position: absolute; top: 0px;}
.ControlBox .ControlPanel2{position: absolute; top: 0px;}
.ControlBox .ControlPanel3{position: absolute; top: 0px;}


/*이미지 컨트롤 박스의 활성화 수준을 제어한다*/
.ControlBox .ControlPanel1{display: none;}
.ControlBox .ControlPanel2{display: none;}
.ControlBox .ControlPanel3{display: none;}
input[id=page1]:checked ~.ControlBox .ControlPanel1{display: block;}
input[id=page2]:checked ~.ControlBox .ControlPanel2{display: block;}
input[id=page3]:checked ~.ControlBox .ControlPanel3{display: block;}


/*이미지를 슬라이드 한다*/
input[id=page1]:checked ~.mainpage ul li{top:0px;}
input[id=page2]:checked ~.mainpage ul li{top:-1080px;}
input[id=page3]:checked ~.mainpage ul li{top:-2160px;}



/*메인으로*/
.home{position: absolute; width:1920px; white-space:nowrap;}
.home img{position: absolute; left:1920px; transition: 1s;}
.home .adres{display: none; transition-delay:1s;}
/*메인페이지를 슬라이드 한다*/
input[id="lefthome"]:checked~ .home img{left:0px;}
input[id="lefthome"]:checked~ .mainpage{left:-1920px;}
input[id="lefthome"]:checked~ .home .adres{display: inline-block;}

/*floating*/
/*포지션 속성 세팅*/
.floating
{ position: fixed; top:100px; left:400px; }
.floating ul li{display: inline-block; margin-left: 15px;}

